// Variables
$primary-color: #4CAF50;
$secondary-color: #FFC107;
$tertiary-color: #F44336;
$background-color: #F5F5F5;
$card-background: #FFFFFF;
$text-color: #333;
$default-bg: #aeaeae3d;


/** Color Variants */


//Gray
$gray-1 : #8b8b8b